<!-- In this page we try to explain ng-controller and ng-app
1.ng-app directive is used to define the angular application
2. ng-controller directive control the angular js application
-->
<!DOCTYPE html>
<html>
<head>
  <title>
    Angular Js
  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
  </script>
</head>
<body>

  <div ng-app="myApp" ng-controller="myCtrl">
    <span>{{text1}}</span> <input type="text" ng-model="firstName"><br/>
    <span>{{text2}}</span> <input type="text" ng-model="secondName"><br/>
    <span>{{text3 }}</span > {{firstName}} {{secondName}}
  </div>

  <script>
var app =angular.module('myApp',[]);
app.controller('myCtrl',function($scope){
  $scope.firstName="Gopal";
  $scope.secondName="Prasad";
  $scope.text1="First Name : ";
  $scope.text2="Second Name :   ";
  $scope.text3= "Full Name : "
});
  </script>
</body>
</html>
